body{
    background-image: linear-gradient( to right,  black 50%, #585757 50% ); 
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin-top: 30px;
    margin-left: -820px;
    
}
.login{
    margin-top: 20px;
    margin-right: 10px;
}


h1{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
a{
    color: #66DA43;
    font-size: 30px;
}
.verde{
    width: 580px;
    height: 620px;
    background-color: #66DA43;
    margin-left:55%;
    position: absolute;
    margin-top: 40px;
}
.preto{
    width: 580px;
    height: 620px;
    background-color: black;
    margin-left:57%;
    position: absolute;
    margin-top: 80px;
}
#textLogin
{
    position: absolute;
    display: flex;
    color:white;
    align-items: center;
    justify-content: center;
    top: 540px;
    font-size: 18px;
    margin-left: 700px;
}
#textSenha
{
    position: absolute;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    top: 600px;
    font-size: 18px;
}
.buttonContinuar
{
    width: 120px;
    height: 44px;
    border-color: red;
    border-style: groove;
    background-color: red;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    color: white;
    top: 680px;
    right: 25px;
    font-size: 19px;
}
.bottonVoltar
{
    width: 120px;
    height: 44px;
    background-color: red;
    display:flex;
    position: absolute;
    top: 680px;
    left: 25px;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 19px;
}
input
{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}
.buttonInserir
{
    width: 88px;
    height: 24px;
    border-color: red;
    border-style: groove;
    background-color: red;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    color: white;
    top: 646px;
    font-size: 19px;
}