body{
    
}
.minhacor{
    background-image: linear-gradient( to right,  black 50%, #585757 50% )!important;
    color: white !important;
}
header{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        margin-top: 30px;
        margin-left: -820px;
        
    }
    
.verde{
    width: 580px;
    height: 620px;
    background-color: #66DA43;
    margin-left:55%;
    position: absolute;
    margin-top: 40px;
}
.preto{
    width: 580px;
    height: 620px;
    background-color: black;
    margin-left:57%;
    position: absolute;
    margin-top: 80px;
}
.cine{
    color:white;
    font-size: 25px;
    text-align: center;
}
.cine1{
    color: #66DA43;
    font-size: 25px;
    text-align: center;
}
#textLogin
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.coluna2{
    display: flex;
    flex-direction: column;}
