body{
    margin: 0;
    background-color:black !important;
    color: white;
    overflow-x: hidden;
}
ul{
    list-style: none;
   
}
nav{
    background-color: black;
    padding: 0 20px;
    justify-content: space-between;
    height: 65px;
    filter: opacity(75%);
}
a{
    color: white !important;
    text-decoration: none !important;
    font-size: 20px;
    
}
a:hover{
    color:greenyellow  !important;
}
nav, ul{
display: flex;
flex-direction: row;

}
li{
    padding: 0 20px;
    margin:auto !important;
    
}
.logo{
    padding: 5px;
    height: 50px;
    margin-top: 3px;
}
.logo_meio {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height:200px !important;
  }
  

.seus_pedidos{
    font-size: 30px;
    font-family: "Oswald"; 
    color:white;
    text-align: center;
    margin-top: 30px;
}
.voltar
{
    font-size: 16px;
}
.formulario
{
    justify-content: center !important;
    align-items: center !important;
}